<!DOCTYPE html>
<html>

<head>
  <title>lvmnz.com</title>
  <script src="/static/htmx.min.js"></script>
  <link rel="stylesheet" href="/static/tailwind.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet" />
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
  <style>
    .font-cabin {
      font-family: "Nanum Gothic Coding"
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: #fffaed">
  <div class="font-cabin">