{{template "header.html" .}}
<div id="content">
  {{template "nav.html" .}}
  <div class="prose lg:prose-lg xl:w-[870px] lg:w-[830px] md:w-[700px] w-10/12 mx-auto max-w-none">
    <img
      class="px-5 lg:float-right lg:ml-5 block w-full mx-auto mb-4 min-w-0 lg:max-w-[300px] md:max-w-[250px] max-w-[200px]"
      src="https://avatars.githubusercontent.com/u/51272568?s=400&u=7d90ad9239d091be128dc39e24dffc3adafb50e5&v=4">
    <p>I'm a software engineer based out of New York. I love solving performance problems and working on distributed systems. On this website, you'll find sporadic, random writing and some of the pictures that I've taken over the
      years.</p>
    <p>
      Here are some projects I'm working on:
    <ul>
      <li>
        <a href="https://github.com/asg017/sqlite-vec">Vector extension for Sqlite</a>
      </li>
      <li>
        <a href="https://github.com/dleviminzi/lvmnz-site">This website (Go+HTMX)</a>
      </li>
      <li>
        <a href="https://github.com/dleviminzi/anthropic-go">Go client for Anthropic's API</a>
      </li>
      <li>
        <a href="https://github.com/Razer-Linux">Linux support for Razer laptops</a>
      </li>
    </ul>
    </p>
    <p>
      Beyond programming, I like to climb, read, watch movies, and take photos (check out the photos section 😎).
    </p>
    <p>
      You can find me on <a href="https://github.com/dleviminzi">github</a>, <a
        href="https://twitter.com/dlvmnz">twitter</a>(I'm not very active), and <a
        href="https://www.linkedin.com/in/dleviminzi/">linkedin</a>. Oh, I'm also on <a
        href="https://boxd.it/qc0P">letterboxd</a> for my fellow movie nerds!
    </p>
    <p>
      Feel free to reach out to me on twitter or <a href="mailto:dleviminzi+ps@gmail.com">email me</a>.
    </p>
  </div>
</div>
{{template "footer.html" .}}
