{{template "header.html" .}}
<div id="content">
  {{template "nav.html" .}}
  <div class="prose lg:prose-xl w-7/12 mx-auto">
    <img class="px-5" align="right" width="310" src="https://avatars.githubusercontent.com/u/51272568?s=400&u=7d90ad9239d091be128dc39e24dffc3adafb50e5&v=4">
    <p>I'm a programmer and I can do some math too! I graduated with a B.S. in Mathematics of Computation from UCLA. 
      My favorite subjects were linear algebra, numerical analysis, and machine learning. I now work as a software engineer at Shipt.</p>
    <p>
      Beyond programming and math, I like to bike, climb, read, watch movies, and take photos (check out the photos section 😎). 
    </p>
    <p>
      You can find me on <a href="https://github.com/dleviminzi">github</a>, <a href="https://twitter.com/dlvmnz">twitter</a>(I'm not very active), and <a href="https://www.linkedin.com/in/dleviminzi/">linkedin</a>. Oh, I'm also on <a href="https://boxd.it/qc0P">letterboxd</a> for my fellow movie nerds!
    </p>
    <p>
      Feel free to reach out to me on twitter or <a href="mailto:dleviminzi+ps@gmail.com">email me</a>.
    </p>
  </div>
</div>
{{template "footer.html" .}}