<div>
  <div
    class="relative bg-solarLightBase03 text-darkGray mx-auto mt-3 mb-3 p-2 shadow-md w-10/12 xl:w-[870px] lg:w-[830px] md:w-[700px] flex flex-col items-center rounded">

    <div class="flex flex-col md:flex-row items-center w-full justify-between">

      <header class="text-center mb-4 md:mb-0">
        <a class="text-3xl transition-all hover:text-periwinkle" href="/">Daniel Levi-Minzi</a>
      </header>

      <nav>
        <ul class="flex flex-row space-x-4">
          <li>
            <button
              class="{{if eq .ActivePage `index`}}bg-periwinkle{{else}}border bg-white border-periwinkle{{end}} transition-all hover:bg-periwinkle shadow-md px-3 py-1 rounded"
              hx-get="/" hx-target="#content" hx-swap="outerHTML" hx-push-url="/">About</button>
          </li>
          <li>
            <button
              class="{{if eq .ActivePage `blog`}}bg-periwinkle{{else}}border bg-white border-periwinkle{{end}} transition-all hover:bg-periwinkle shadow-md px-3 py-1 rounded"
              hx-get="/blog/" hx-target="#content" hx-swap="outerHTML" hx-push-url="/blog/">Blog</button>
          </li>
          <li>
            <button
              class="{{if eq .ActivePage `photos`}}bg-periwinkle{{else}}border bg-white border-periwinkle{{end}} transition-all hover:bg-periwinkle shadow-md px-3 py-1 rounded"
              hx-get="/photos/" hx-target="#content" hx-swap="outerHTML" hx-push-url="/photos/">Photos</button>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>